@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');
.modal{
    padding: 10px;
    width: 70%;
    display: flex;
    justify-content: center;
    position: fixed;
}
.hidden-modal{
    display: none;
}
.show-modal{
    display: flex;
}
.modal-child{
    background-color: white;
    padding: 15px;
    font-family: "Sniglet", system-ui;
    width: 500px;

}
.modal-image,.modal-text{
    display: flex;
    justify-content: center;
}
.modal-btn{
    display: flex;
    justify-content: center;
    column-gap: 15px;
    padding: 10px;
}
.modal-btn button{
    background-color: black;
    width: 60px;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.modal-btn button:hover{
    cursor: pointer;
}
.modal-image .warning{
    width: 80px;
}