.navbar{
    display: flex;
    flex-direction: column;
    background-color: #56514f;
    color: white;
}
.title{
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title .logo{
    width: 250px;
}
.bar-icon{
    align-self: flex-start;
    color: white;
    font-size: 1.5rem;
    display: none;
    margin-left: 10px;
    margin-top: 10px;
}
.bar-icon:hover{
    cursor: pointer;
}
.bar-icon i{
    display: none;
}
.title p{
    font-size: 2.5rem;
}
.nav-links{
    height: 70px;
    padding: 15px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 25px;
}
.nav-links a:link,.nav-links a:visited,.nav-links a:active{
    text-decoration: none;
    color: white;
    font-family: "Nunito", sans-serif;
    padding: 10px;

}
.nav-links a:hover{
    background-color: #79f57d;
    color: black;
}
.unvisible-links{
    z-index: 1;
    height: 100vh;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.321);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    position: fixed;
    top: 0;
    right: 0;
}
.hidden-links{
    display: none;
}
.bar-icon{
    display: flex;
}
.links{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.links img{
    width:40px;
}
.links li{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.links a:link,.links-links a:active,.links a:visited{
    text-decoration: none;
    color: white;
    font-family: "Nunito", sans-serif;
    padding: 15px;
    color: #79f57d;
}
.links a:hover{
    background-color: #79f57d;
    color: black;
}
.links li{
    list-style-type: none;
}
@media screen and (max-width:1000px){
    .bar-icon i{
        display: block;
    }
    .nav-links{
        display: none;
    }
    .title{
        flex-direction: column;
        text-align: center;
    }
    .title p{
    font-size: 2rem;
}
    .nav-links a{
        display: none;
    }
}