@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #5f665f ;
    margin: 0;
    /* min-height: 100vh; */
}
.main{
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 70px;
}
.main h1,.main .label{
    font-family: "Roboto", sans-serif;
    color: white;
}
.main h1{
    font-size: 2.5rem;
}
.first-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 70%;
}
.first-container .label{
    font-size: 1.25rem;
}
.first-container .input{
    padding: 10px;
    width: 300px;
}
.child{
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.first-container .btn{
    padding: 10px;
    border: 1px solid transparent;
    background-color: black;
    color: white;
    width: 100px;
}
.first-container .btn:hover{
    cursor: pointer;
    color: black;
    background-color: #79f57d;
}
.second-container{
    /* font-size: 2.1rem; */
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 10px;
    width: 90%;
}
.second-container .tbl tr:nth-child(even){
    background-color: #aba7a5;
}
.second-container .tbl tr:nth-child(odd){
    background-color: white;
}
.second-container .tbl tr:first-child{
    color: white;
    background-color: black;
}
.second-container .tbl{
    border-collapse: collapse;
}
.second-container .tbl td{
    font-family: "Sniglet", system-ui;
}
.second-container .tbl td,.second-container .tbl th{
    padding: 10px;
}
.second-container .tbl th{
    font-size: 1.1rem;
}
.second-container .tbl td{
    /* background-color: yellow; */
    border-bottom: 1px solid #aba7a5;
    text-align: center;
}
.second-container .tbl {
    width: 100%;
}
.edit-btn,.delete-btn{
    font-size: .9rem;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
}
.edit-btn:hover,.delete-btn:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
.edit-btn{
    background-color: #79f57d;
}
.delete-btn{
    background-color: #f24040;
}
.edit-btn i,.delete-btn i{
    margin-right: 5px;
}
.data-input{
    padding: 10px;
}
.drop-btn{
    font-size: .9rem;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #79f57d;
}
.search-input{
    padding: 8px;
}
.search-btn{
    background-color: #f06511;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.drop-btn:hover,.search-btn:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
#chart{
    /* height: 100vh; */
    /* width: 50%; */
    background-color: red;
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    width: 800px;
    height: 600px;
}
.dropdown-list{
    width: 100%;
    padding: 5px;
}
.txt{
    color:#f24040;
    text-align:center;
    font-family: "Roboto", sans-serif;
    font-size:1.6rem;
}
@media screen and (max-width:1000px){
    .first-container{
        text-align: center;
    }
    .child{
        flex-direction: column;
    }
    .second-container{
        width: 100%;
        overflow: auto;
    }
}
@media screen and (max-width:600px){
    /* #chart{
        width: 60%;
    } */
}