.footer{
    background-color:#56514f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.footer-logo{
    width: 300px;
}
.footer-icons i{
    font-size: 2.1rem;
    margin-right: 20px;
}
.footer-paragraph{
    font-family: "Sniglet", system-ui;
    font-size: 1.1rem;
}
@media screen and (max-width:600px){
    .footer{
        padding: 20px;
        display: flex;
        flex-direction: column-reverse;
    }
}
@media screen and (min-width: 601px) and (max-width:992px){
    .footer{
        padding: 20px;
        display: flex;
        flex-direction: column-reverse;
    }
}