@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');

body{
    background-color: #5f665f ;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.main{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 70px;
}
.main h1,.main .label{
    font-family: "Roboto", sans-serif;
    color: white;
}
.main h1{
    font-size: 2.5rem;
}
.first-container {
    padding: 20px;
    width: 60%;
}
.first-container .label{
    font-size: 1.25rem;
}
.first-container .input{
    padding: 10px;
    width: 300px;
}
.first-container .btn{
    padding: 10px;
    border: 1px solid transparent;
    background-color: black;
    color: white;
    width: 100px;
}
.first-container .btn:hover{
    cursor: pointer;
    color: black;
    background-color: #79f57d;
}
.second-container{
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 70%;
}
.second-container .tbl tr:nth-child(even){
    background-color: #aba7a5;
}
.second-container .tbl tr:nth-child(odd){
    background-color: white;
}
.second-container .tbl tr:first-child{
    color: white;
    background-color: black;
}
.second-container .tbl{
    border-collapse: collapse;
}
.second-container .tbl td{
    font-family: "Sniglet", system-ui;
}
.second-container .tbl td,.second-container .tbl th{
    padding: 10px;
}
.second-container .tbl th{
    font-size: 1.1rem;
}
.second-container .tbl td{
    border-bottom: 1px solid #aba7a5;
    text-align: center;
}
.second-container .tbl {
    width: 100%;
}
.data-input{
    display: flex;
    column-gap: 10px;
}
.container{
    display: flex;
    column-gap: 20px;
}
.container img{
    width: 100%;
    height: 300px;
} 
.tbl-title{
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 2.2rem;
}
@media screen and (max-width:600px){
    .first-container,.second-container{
        width: 90%;
    }
    .first-container .input{
        width: 200px;
    }
    .second-container .tbl{
        width: 100%;
    }
}